apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater-config
    app.kubernetes.io/part-of: argocd-image-updater
data:
  log.level: debug
  registries.conf: |
    registries:
      - name: Harbor Local
        prefix: harbor.local
        api_url: https://harbor.local
        insecure: yes
        credentials: pullsecret:argocd/harbor-docker-config
        defaultns: library
  applications_api: argocd
  argocd.server_addr: argocd-server.argocd.svc.cluster.local:443
  argocd.insecure: "true"
  argocd.grpc_web: "true"
