apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kiali
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: observability
  finalizers:
    - resources-finalizer.argocd.argoproj.io
# The ApplicationSet resource defines a set of applications that are generated based on a template and a list of parameters. In this case, we are generating an application for Kiali, which is part of the observability stack. The generator is a list generator that creates an application for each element in the list. The template defines the structure of the application, including its metadata, spec, source, destination, and sync policy. The source specifies where to find the Helm chart for Kiali and how to configure it with values. The destination specifies where to deploy the application in the Kubernetes cluster. The sync policy defines how Argo CD should manage the synchronization of the application with the cluster.
spec:
  generators:
    - list:
        elements:
        # Use for multi-environment deployments kiali-dev, kiali-prod, etc. For simplicity, we are using a single element here.
        # fqdn can be used to set the web_fqdn value in the Helm chart values, allowing for different URLs for different environments.
          - name: kiali
            namespace: istio-system
            chart: kiali-server
            version: 2.20.0
            web_fqdn: kiali.local

  template:
    metadata:
      name: '{{name}}'
      labels:
        app.kubernetes.io/part-of: observability
    spec:
      project: observability-project
      # The source and destination fields are moved to the template level to allow for dynamic values based on the generator
      source:
        repoURL: harbor.local
        chart: 'helm/{{chart}}'
        targetRevision: '{{version}}'
        helm:
          values: |
            auth:
              strategy: anonymous
            server:
              web_root: /
              web_fqdn: '{{web_fqdn}}'
              web_schema: https
              web_port: 443
            external_services:
              prometheus:
                url: http://prometheus-server.monitoring:80
              grafana:
                enabled: true
                internal_url: 'http://grafana.monitoring:80'
                external_url: 'https://grafana.local'
              istio:
                root_namespace: istio-system
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      # Sync policy with pruning and self-healing enabled, and options to create the namespace if it doesn't exist and to use server-side apply
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          enabled: true
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true