apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: observability
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: observability-project

  source:
    repoURL: harbor.local
    chart: helm/prometheus
    targetRevision: 28.6.0
    helm:
      values: |
        alertmanager:
          enabled: false
        kube-state-metrics:
          enabled: true
        prometheus-node-exporter:
          enabled: true
        prometheus-pushgateway:
          enabled: false
        server:
          persistentVolume:
            enabled: false
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              memory: 1Gi

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
