apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: observability
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: observability-project

  source:
    repoURL: harbor.local
    chart: helm/grafana
    targetRevision: 10.5.12
    helm:
      values: |
        adminUser: admin
        adminPassword: admin
        service:
          type: ClusterIP
          port: 80
        persistence:
          enabled: false
        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                url: http://prometheus-server.monitoring.svc.cluster.local
                access: proxy
                isDefault: true

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
