# Disable alerting noise for now
alertmanager:
  enabled: false

# ---- Prometheus ----
prometheus:
  prometheusSpec:
    retention: 5d
    scrapeInterval: 30s
    evaluationInterval: 30s

    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        memory: 2Gi

    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

# ---- Grafana ----
grafana:
  enabled: true

  adminUser: admin
  adminPassword: admin
  
  # Customize Grafana settings
  grafana.ini:
    security:
      disable_initial_admin_password_change: true
  # disable the change password prompt on first login

  defaultDashboardsEnabled: true

  service:
    type: ClusterIP
    port: 80

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi

# ---- Exporters ----
kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 256Mi