apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: infrastructure
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: metrics-server-project
  source:
    repoURL: harbor.local
    chart: helm/metrics-server
    targetRevision: 3.13.0
    helm:
      values: |
        args:
          - --kubelet-insecure-tls
        metrics:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - Replace=true
