apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- httproute.yaml

images:
- name: harbor.local/library/demo-app
  newTag: 30d2e50add5b10cde284b0ea277526f086cb3555
