apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: demo-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  generators:
    - list:
        elements:
          - name: demo-apps
            namespace: demo-apps
            path: ArgoCD-demo-apps/apps
          - name: httpbin-api
            namespace: httpbin
            path: ArgoCD-demo-apps/api
  template:
    metadata:
      name: '{{name}}'
    spec:
      project: demo-apps
      source:
        repoURL: git@github.com:emilpeychev/kind-cluster-cilium.git
        targetRevision: master
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          enabled: false
          prune: true
          selfHeal: true
