apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kiali-applicationset
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: kiali
            namespace: istio-system
            chart: kiali-server
            version: 2.20.0
  template:
    metadata:
      name: '{{name}}'
      labels:
        app.kubernetes.io/part-of: kiali
    spec:
      project: kiali-project

      source:
        repoURL: harbor.local/helm
        chart: '{{chart}}'
        targetRevision: '{{version}}'
        helm:
          values: |
            auth:
              strategy: anonymous
            server:
              web_root: /
              web_fqdn: kiali.local
              web_schema: https
              web_port: 443
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          enabled: true
